.header {
  background-color: #dfdfe4;

  .sub_container {
      justify-content: center;
      align-items: center;

      .logo {
          height: 50px;
          display: inline-block;
      }

      .title {
          font-size: 40px;
          display: inline-block;
          color: black;
      }
  }
}
