.card {
  width: 100% !important;
  height: auto !important;
  box-shadow: 0 12px 19px -7px rgba(0,0,0,.3);
  background-color: white !important;
}

.img-product {
  width: 100%;
  height: auto;
}

.info-product {
  p {
      font-size: 14px;

  }
}
