<div class="footer">
  <div class="container pt-3 pb-3">
      <div class="row">
          <div class="col-lg-6">
              <img src="../../../assets/img/logo/logo.png" alt="" class="logo">
          </div>
          <div class="col-lg-6">
              <div class="row">
                  <div class="col-lg-6 pr-5">
                      <ul>
                          <li>Términos y Condiciones</li>
                          <li>Políticas de Privacidad</li>
                          <li>Libro de Reclamaciones</li>
                      </ul>
                  </div>
                  <div class="col-lg-6 pr-5">
                      <ul>
                          <li>979 386 185</li>
                          <li>gabriel.angeles@extech.pe</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="footer-description">
  <div class="container pt-1 pb-1">
      <div class="row">
          <div class="col-lg-12">
              <p>Music Store 2020 | Todos los derechos reservados</p>
          </div>
      </div>
  </div>
</div>
